<h1>Sousveillance (inverse surveillance or self-recording)</h1>

OED (Oxford English Dictionary) defines Sousveillance as:
<p>
<font color=#ff0000>noun</font><br>
<font color=#00ff00>mass noun</font>
<br>
   “Close observation or recording of the government, police, etc., by
   members of the public, typically using personal devices such as video
   cameras and smartphones. Also: the recording or documenting by members
   of the public of their own or other people’s activities using such
   devices. Often contrasted with surveillance.”
<p>
More generally, though, sousveillance has a wider usage in regards to the Greek principle of alethia (unconcealedness), and pertains to systems such as AI (Artificial Intelligence) that are auditable, understandable, and explainable to any end user without the need for special permission or special request.  Systems such as free-open-source operating systems are said to be "<a href=https://meshcities.com/sousveillant-cities-and-media/>sousveillant systems</a>".
<p>
See also <a href=https://en.wikipedia.org/wiki/Sousveillance>https://en.wikipedia.org/wiki/Sousveillance</a>.
<p>   
<img width="720" src="https://gitlab.com/SteveMann/sousveillance/-/raw/main/SurSousveillanceByStephanieMannAge6_signed.png"/>   
<p>
<img width="360" src="https://gitlab.com/SteveMann/sousveillance/-/raw/main/GoogleTranslate_oversight_surveillance_boxed.png">
<p>
<iframe width="720" height="405" src="https://www.youtube.com/embed/IsMFdiLsqbg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><a href=https://www.hankwillisthomas.com/WORKS/Photographic/3>.</a>

<h2>Bibliographic Reference Citations</h2>
Bibliographic Reference Citations from Wikipedia.org:
<ul>
<li>S. Mann; J. Nolan; B. Wellman. (2002). "Sousveillance: Inventing and Using Wearable Computing Devices for Data Collection in Surveillance Environments". Surveillance & Society. 1 (3): 331–355. doi:10.24908/ss.v1i3.3344, also in <a href=https://ojs.library.queensu.ca/index.php/surveillance-and-society/article/view/3344>Surveillance & Society 1(3), 2003</a>
<li>"Sousveillance: Inverse Surveillance in Multimedia Imaging, by Steve Mann, in ACM Multimedia 2004, pp. 620–627
<li> "Keeping a Close Watch", by Kingsley Dennis, Sociology Department, Lancaster University, Lancaster, UK, 2008 July 30th, in The Sociological Review
<li>Sousveillance, not just surveillance, in response to terrorism, 2002 March 1st,
<a href=http://wearcam.org/metalandflesh.htm>Metal and Flesh, Volume 6, No. 1</a>
<li> Vol. 31, Issue 2 – April 1998 "Reflectionism' and 'Diffusionism':
        New Tactics for Deconstructing the Video Surveillance Superhighway",
        in <a href=http://wearcam.org/leonardo/reflectionism.pdf>Leonardo, pp. 93–102</a>
<li>"<A href=https://www.bloomsbury.com/us/sousveillance-media-and-strategic-political-communication-9780826430083/>Sousveillance, Media and Strategic
                        Political Communication</a>",
        by Dr. Vian Bakir, ISBN 978-0-8264-3009-0
Available at:
http://www.bloomsbury.com/us/sousveillance-media-and-strategic-political-communication-9780826430083/
        <li> Ryan, Mary. "<a href=https://www.springerprofessional.de/en/sousveillance-as-a-tool-in-us-civic-polity/14226634>Sousveillance as a Tool in US Civic Polity.<a/>" In Spaces of Surveillance, pp. 211-227. Palgrave Macmillan, Cham, 2017.
<li> University course on sousveillance Home › Courses › Course Catalog › 290. Surveillance, Sousveillance, Coveillance, and Dataveillance 290. SURVEILLANCE, SOUSVEILLANCE, COVEILLANCE, AND DATAVEILLANCE
        <li> International conferences on sousveillance: "<a href=https://archive.ph/20120905210719/http://www.notanalternative.net/tp-sousveillance-culture-conference-426>Archived copy</a>". Archived from the original on 2012-09-05. Retrieved 2010-08-15. and [1]
<li> WiReD magazine, Clive Thompson, "Establishing Rules in the Videocam Age", 2011 June 28
<li> Reflections on the Vancouver Riots, Vancouver Observer, 2011 June 28
<li> Michael, Katina; Michael, MG. "No Limits to Watching?". cacm.acm.org.
<li> Michael, K. (2015).
        <a href=https://ro.uow.edu.au/eispapers/4182/>Sousveillance: Implications for Privacy, Security, Trust, and the Law.</a> Consumer Electronics Magazine, IEEE, 4(2), 92-94.
<li> Monahan, Torin (2006). Surveillance And Security: Technological Politics And Power in Everyday Life, p.158. ISBN 9780415953931.
<li> Course developed by New York based artist Joy Garnett and taught initially at the City College of New York's Digital and Interdisciplinary Art Practice MFA program (DIAP): "Sousveillance: The Art of Networked Surveillance: Decoding the Social and the Private"[2]
<li> Fernback, Jan. "<a href=https://www.sciencedirect.com/science/article/abs/pii/S0736585312000275>Sousveillance: Communities of resistance to the surveillance environment.</a>" Telematics and Informatics 30.1 (2013): 11-21.
<li> K. Michael and M. G. Michael.
        <a href=https://www.semanticscholar.org/paper/Sousveillance-and-Point-of-View-Technologies-in-Law-Michael-Michael/dee98ffe43750fc1ffb9275f05c4dbd6d41dc64a>Sousveillance and point of view technologies in law enforcement: An overview.</a> 2012.
<li> J. Bradwell and K. Michael. Security workshop brings 'sousveillance' under the microscope. 2012.
<li> S. Mann. Veillance and Reciprocal Transparency: Surveillance versus Sousveillance, AR Glass, Lifeglogging, and Wearable Computing. IEEE ISTAS 2013, Pages 1-12
<li> Alternative definitions of both sur- and sous- veillance (the act of watching), in addition to the definition above, include:
Surveillance is defined as cameras (or other sensors) affixed to property (real-estate, e.g. land, by way of posts or poles, or buildings), whereas sousveillance is defined as cameras (or other sensors) borne by people.[18][19][20][21]
<li>Surveillance is the veillance of the authority (i.e. the veillance that has the capacity to prohibit other veillances), whereas sousveillance is the veillance of plurality (i.e. "crowd veillance" or watching, sensing, or the like, done by non authorities)[4].
<li>Sousveillance has also been described as "inverse surveillance",[2][22] based on the word surveillance (from the French sur, "from above", and veiller, "to watch"), and substituting the prefix sous, "from below".
<li> "blogging On the Identity Trail". www.anonequity.org.
        <a href=http://wearcam.org/anonequiveillance.htm>Over and under the Valences of Veillance</a>
<li> CACR (Centre For Applied Cryptographic Research),
        <a href=http://wearcam.org/cacr/>8th CACR Information Security Workshop & 2nd Annual Privacy and Security Workshop, The Human Face of Privacy Technology, November 1–2, 2001, The University of Toronto, Ontario, Canada; Slides and recordings</a>.
<li> "Sousveillance: Wearable Computing and Citizen "Undersight"", h-Plus Magazine, 2009jul10
<li> "When Is "Undersight" Unconstitutional?", Ian Ayres, Yale Law School, New York Times, January 5, 2011
        <li> <a href=https://scholars.cmich.edu/en/publications/this-is-what-a-police-state-looks-like-sousveillance-direct-actio-3>Sousveillance, direct action and the anti-corporate globalization movement. Elizabeth A. Bradshaw. Critical Criminology, 21(4):447–461, 2013.</a>
<li> Fernback J (2013) Telematics and Informatics 30(1): 11–21
        <li> Reilly P (2013) <a href=https://journals.sagepub.com/doi/10.1177/1461444813512195>Every little helps? YouTube, sousveillance and the 'anti-Tesco' riot in Stokes Croft</a>. New Media & Society. Epub ahead of print 21 November. DOI:10.1177/1461444813512195.
                <li> [Mann, Steve, et al. "<a href=https://ieeexplore.ieee.org/document/7377257>Declaration of Veillance (Surveillance is Half-Truth).</a>" in Games Entertainment Media Conference (GEM), 2015 IEEE. IEEE, 2015.]
<li> ["Surveillance (oversight), Sousveillance (undersight), and Metaveillance (seeing sight itself)", IEEE CVPR 2016, pages 1408-1417,
<a href=http://wearcam.org/kineveillance.pdf>http://wearcam.org/kineveillance.pdf</a>]
<li> IWIS Website,
        <A href=http://wearcam.org/iwis/>http://wearcam.org/iwis/</a>
<li> Richards, Neil M., Watching the Watchers (November 4, 2013). Wired Magazine [3]
<li> Ghana puts faith in humble text message Matthew Green, Financial Times, December 8, 2008
<li> When all video all Finlo Rohrer, BBC News Magazine April 21, 2009
<li> Cyclists' cellphones help monitor air pollution Tom Simonite, New Scientist, January 2, 2008 Archived May 16, 2008, at the Wayback Machine
<li> "Crowdmapping Denmark's CCTV cameras". 12 October 2012. Retrieved 6 January 2017.
<li> Fletcher, Gordon; Marie Griffiths; Maria Kutar (7 September 2011).
        "<A href=https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1923629>A day in the digital life: a preliminary sousveillance study</a>". SSRN 1923629.
        <li> <a href=https://thedailyomnivore.net/2011/08/14/sousveillance/>"Sousveillance". The Daily Omnivore.</a> 2011-08-14.
<li> Moitroux, Pola Catherine. "Countermovement to Constant Surveillance: A Combined Study Examining Acceptance and Motivation Factors Leading People to Engage in Different Forms of Sousveillance". BDM Master Thesis: 1–72.
<li> "Avoiding Big Brother". Classy's Kitchen. February 26, 2003.
<li> Douglas McArthur, "Flights of Fancy", Toronto Globe and Mail, December 29, 2007, p. R16.
<li> Clark, Campbell; Ingrid Peritz; Ian Bailey (2007-08-25). "Sûreté du Québec to review practices". Globe and Mail. pp. A5. Archived from the original on September 30, 2007.
<li> "Russian Dash Cam Craze". Ghost Theory. 2013-02-19.
<li> http://www.cbc.ca/news/world/transasia-airways-flight-ge235-taiwan-plane-crash-caught-by-dashcam-1.2944464 |accessdate=2015-03-04
<li> "Sousveillance: Wearable Computing and Citizen "Undersight"", by: Steve Mann, hplus magazine, Published: July 10, 2009
<li> Clive Thompson (May 2007). "The Visible Man: An FBI Target Puts His Whole Life Online". Wired.com. Archived from the original on September 13, 2013.
<li> Nunes, Iesha S. (2015). "Hands up, Don't Shoot: Police Misconduct and the Need for Body Cameras". Florida Law Review.
<li> Randall Stross (April 6, 2013). "Wearing a Badge, and a Video Camera". The New York Times.
<li> Pearce, Matt (September 27, 2014). "Growing use of police body cameras raises privacy concerns" – via LA Times.
<li> Haggerty, K.D. & Ericson, R.V. (2000). The surveillant assemblage. British Journal of Sociology, 51(4), 605-622.
<li> Verde Garrido, M. (2015).
        <a href=https://ojs.library.queensu.ca/index.php/surveillance-and-society/article/view/snowden_biopolitics/snowden_bio>Contesting a biopolitics of information and communications: The importance of truth and sousveillance after Snowden. Surveillance & Society, 13(2), 153-167.</a>
        Also available at <A href=https://doi.org/10.24908/ss.v13i2.5331>https://doi.org/10.24908/ss.v13i2.5331</a> Free to read
<li> Mann S. (2005). Sousveillance and cyberglogs. A 30-year empirical voyage through ethical, legal and policy issues. Presence: Teleoperators and Virtual Environments, 14(6), 625–646.
<li> Scheindlin, Shira A. (2015). Will the widespread use of police body cameras improve police accountability?. Peter K. Manning. pp. 24–27.
<li> Friedman, Uri (December 3, 2014). "Do Police Body Cameras Actually Work?" – via The Atlantic.
<li> Leonardo 36(1), 2003, pp19-26. (This article was given the 2004 Leonardo Award for Excellence.)
<li> Alex Preston (August 3, 2014). "The death of privacy". The Guardian.
<li> "How safe is your quantified self?" (PDF). 2014.
<li> "Website of the records generated for 36 years". 2014.
<li> "Alberto Frigo: A 36-year Tracking Project". 2014.
<li> Mann, Steve, and Joseph Ferenbok. "New media and the power politics of sousveillance in a surveillance-dominated world." Surveillance & Society 11, no. 1/2 (2013): 18.
<li> Holland, Janet, ed. Wearable Technology and Mobile Innovations for Next-Generation Education. IGI Global, 2016. Page 115, in Chapter 6, Wearable Cameras, Alessio Drivet, University of Turin, Italy
<li> Mehdi Khosrow-Pour, DBA; Steve Clarke; Murray E. Jennex; Annie Becker; and Ari-Veikko Anttiroiko, Wearable Technologies: Concepts, Methodologies, Tools, and Applications, IGI Publishing Hershey, PA, USA 2018, Page 509, ISBN 9781522554844
<li> Zuckerman, Ethan. "How citizen surveillance could reform a broken American police system". MIT Technology Review.
<li> Alloing, Camille (2016). La sousveillance. Vers un renseignement ordinaire ?. Hermès. pp. 68–76.
<li> Durand, Corentin (2018-01-18). "Application Reporty : la Mairie de Nice va demander le retrait des mouchards dans son application - Politique - Numerama". Numerama (in French).
<li> "Cinq questions pour tout savoir sur Reporty, la nouvelle appli sécurité qui fait polémique à Nice". Nice-Matin (in French). 2018-01-20.
</ul>

<h2>Related concepts:</h2>
Concepts related to surveillance and sousveillance include some of the other veillances such as:
<ul>
        <li><a href=http://wearcam.org/metaveillance.htm>Metaveillance</a> (the veillance of veillance);
        <li>Dataveillance;
                <li>Uberveillance;
                        <li>Unterveillance; and
                                <li><a href=http://priveillance.com>Priveillance</a> (interplay between surveillance, sousveillance, and privacy).
        </ul>
